# dependencies
/node_modules
npm-debug.log

# testing
/coverage

# git
.git/
.gitignore

# docker
Dockerfile*

.idea
.vscode
README.md

# next.js
/.next/
/out/
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo
